#### Since we have slowly changing dimensions, we need jobs to be executed every day, these jobs will read previous day data  from oltp_db and also dwh_db and fill dimensions . 
#### Since our oltp tables already have data we shoud simiulate this kind of execution for older date until get today. and we can schedule jobs to run every morning. We have 3 jobs ,two of them will fill dimentions <span style='color:red'>(DIMCUSTOMER, DIMPRODUCT)</span> and one will fact table <span style='color:red'>(FACTORDER)</span>

#### ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

## Slowly changing dimension

Slowly changing dimensions are the dimensions in which the data changes slowly rather than changing regularly.

we have 3 type os slowly changing dimension:

* **TYPE0** :
   passive method. values remain as they were at the time the dimension record was first inserted.
   

* **TYPE1**:
   used when no need to store historical data in the dimension table . overwrite the old data with the new data.
   

* **TYPE2**:
   stores the entire history of the data. with TYPE2 we can store unlimited history in the dimension table.

# <span style='color:blue'> Dimcustomer</span>

I have decided to consider two columns **name** and **address** as <span style='color:red'>TYPE1</span> and
column city as <span style='color:red'>TYPE2</span>.

##### <span style='color:green'>Foreign Data Wrapper</span>
For transefring data between two database first we need to create a <span style='color:red'> Foreign Data Wrapper</span>  so we can query data from <span style='color:green'> oltp_db</span> when we connect to <span style='color:green'> dwh_db</span> .
we create a Wrapper once here and will use it for all jobs.

In [1]:
import psycopg2

In [5]:
# create connection to postgresql (db:dwh_db)
conn = psycopg2.connect(database = "dwh_db", user = "postgres", password = "postgres", host = "127.0.0.1", port = "5432")

# create cursor
cursor = conn.cursor()

# Load the extension in my local database
ext_stmnt = "CREATE EXTENSION postgres_fdw;"
cursor.execute(ext_stmnt)

# Create a foreign server
srv_stmnt = '''CREATE SERVER oltp_bridge
FOREIGN DATA WRAPPER postgres_fdw
OPTIONS (host '127.0.0.1', dbname 'oltp_db');'''
cursor.execute(srv_stmnt)

# Set up a user mapping to authenticate
mpr_stmnt = '''CREATE USER MAPPING FOR postgres
    SERVER oltp_bridge
    OPTIONS (user 'postgres', password 'postgres');'''
cursor.execute(mpr_stmnt)

# Run IMPORT FOREIGN SCHEMA, which imports tables and views from a schema,
# and creates foreign tables that match the definitions for the external tables.
sch_stmnt = '''IMPORT FOREIGN SCHEMA public 
FROM SERVER oltp_bridge INTO public;'''
cursor.execute(sch_stmnt)

conn.commit()

cursor.close()
conn.close()
    
print("Done!")

Done!

#### <span style='color:green'>create a sequence</span>

This sequence will be used for creating <span style='color:red'>surrogate key</span> in dimcustomer

In [15]:
# create connection to postgresql (db:dwh_db)
conn = psycopg2.connect(database = "dwh_db", user = "postgres", password = "postgres", host = "127.0.0.1", port = "5432")

# create cursor
cursor = conn.cursor()

# Load the extension in my local database
sq_stmnt = "CREATE SEQUENCE idno START 1;"
cursor.execute(sq_stmnt)

conn.commit()

cursor.close()
conn.close()

#### <span style='color:green'>SQL query for filling dimcustomer</span>

In [2]:
dim_customer_query_job = '''
insert into dimcustomer (ID,CUST_ID,NAME,ADDRESS,CITY,STARTDATE,ENDDATE,RECENTFLAG)
select
    case 
        when dimcustomer.ID is NULL then nextval('idno')
        else dimcustomer.ID
    end AS ID,
    customer.CUST_ID,
    customer.NAME,
    case 
        when dimcustomer.ID is NULL then customer.ADDRESS
        when customer.city = dimcustomer.city then customer.ADDRESS
        else dimcustomer.ADDRESS
    end AS ADDRESS,
    case 
        when dimcustomer.ID is NULL then customer.CITY
        else dimcustomer.CITY
    end AS CITY,
    case 
        when dimcustomer.ID is NULL then DATE(customer.timez)
        else dimcustomer.STARTDATE
    end AS STARTDATE,
    case 
        when dimcustomer.ID is NULL then '2099-01-01'
        when dimcustomer.recentflag = 1 and customer.city <> dimcustomer.city then DATE(customer.timez)+ INTERVAL '-1 day'
        else dimcustomer.ENDDATE
    end AS ENDDATE,
    case 
        when dimcustomer.ID is NULL then 1
        when dimcustomer.recentflag = 1 and customer.city <> dimcustomer.city then 0
        else dimcustomer.RECENTFLAG
    end AS RECENTFLAG
from dimcustomer
right join customer
on dimcustomer.cust_id=customer.cust_id
where Date(customer.TIMEZ) = '{date}'
union all
select
    nextval('idno') AS ID,
    customer.CUST_ID,
    customer.NAME,
    customer.ADDRESS,
    customer.CITY,
    DATE(customer.timez) AS STARTDATE,
    '2099-01-01' AS ENDDATE,
    1 AS RECENTFLAG
from dimcustomer
inner join customer
on dimcustomer.cust_id=customer.cust_id
where Date(customer.TIMEZ) = '{date}' and dimcustomer.recentflag = 1 and customer.city <> dimcustomer.city
ON CONFLICT (ID,CUST_ID)
DO
UPDATE set name = EXCLUDED.NAME , ADDRESS = EXCLUDED.ADDRESS ,  ENDDATE = EXCLUDED.ENDDATE, RECENTFLAG = EXCLUDED.RECENTFLAG;

'''

In [3]:
def execute_query(date):
    
    #create sql query (job) for a date
    sql_query = dim_customer_query_job.format(date=date)
    
    # create connection to postgresql
    conn = psycopg2.connect(database = "dwh_db", user = "postgres", password = "postgres", host = "127.0.0.1", port = "5432")
    
    # create cursor
    cursor = conn.cursor()
    
    # execute job   
    cursor.execute(sql_query)
    
    conn.commit()
    
    cursor.close()
    conn.close()
    
    print("Job executed for date {}".format(date))

##### we have five dates in customer  table so we shoud run our job for:
* *2020-02-13*
* *2020-02-14*
* *2020-02-16* 
* *2020-02-17*
* *2020-02-18*

In [4]:
execute_query('2020-02-13')
execute_query('2020-02-14')
execute_query('2020-02-16')
execute_query('2020-02-17')
execute_query('2020-02-18')

Job executed for date 2020-02-13
Job executed for date 2020-02-14
Job executed for date 2020-02-16
Job executed for date 2020-02-17
Job executed for date 2020-02-18

# <span style='color:blue'> Dimproduct</span>

I have decided to consider all columns as <span style='color:red'>TYPE1</span> .

#### <span style='color:green'>SQL query for filling dimproduct</span>

In [5]:
dim_product_query_job = '''
insert into dimproduct (product_id,name,unc1,unc2)
select
    case 
        when dimproduct.product_id is NULL then product.product_id
        else dimproduct.product_id
    end AS product_id,
    product.name,
    product.unc1,
    product.unc2
from dimproduct
RIGHT join product
on dimproduct.product_id=product.product_id
where Date(product.TIMEZ) = '{date}'
ON CONFLICT (product_id)
DO
UPDATE set name = EXCLUDED.NAME , unc1 = EXCLUDED.unc1 , unc2 = EXCLUDED.unc2  ;

'''

In [6]:
def execute_query2(date):
    
    #create sql query (job) for a date
    sql_query = dim_product_query_job.format(date=date)
    
    # create connection to postgresql
    conn = psycopg2.connect(database = "dwh_db", user = "postgres", password = "postgres", host = "127.0.0.1", port = "5432")
    
    # create cursor
    cursor = conn.cursor()
    
    # execute job   
    cursor.execute(sql_query)
    
    conn.commit()
    
    cursor.close()
    conn.close()
    
    print("Job executed for date {}".format(date))

##### we have three dates in product  table so we shoud run our job for:
* *2020-02-13*
* *2020-02-16* 
* *2020-02-18*

In [7]:
execute_query2('2020-02-13')
execute_query2('2020-02-16')
execute_query2('2020-02-18')

Job executed for date 2020-02-13
Job executed for date 2020-02-16
Job executed for date 2020-02-18

# <span style='color:blue'>Factorder</span>

##### we need a query to find all <span style='color:red'>surrogate key</span> from dimensions and other <span style='color:red'> measures</span>

#### <span style='color:green'>SQL query for filling factorder</span>

In [8]:
fact_order_query_job = '''
insert into factorder (date, time, orderid, c_id, p_id, quantity, uprice)
select 
    Date(orderinfo.timez),
    orderinfo.timez::time AS time,
    orderinfo.order_id,
    dimcustomer.id as c_id,
    dimproduct.product_id as p_id,
    orderline.quantity,
    orderline.uprice
from orderline 
inner join orderinfo
on orderline.order_id=orderinfo.order_id and Date(orderinfo.timez) = '{date}'
inner join dimcustomer
on orderinfo.cust_id = dimcustomer.cust_id and Date(orderinfo.timez) >= dimcustomer.startdate
and Date(orderinfo.timez) < dimcustomer.enddate
inner join dimproduct on dimproduct.product_id = orderline.product_id

'''

In [9]:
def execute_query3(date):
    
    #create sql query (job) for a date
    sql_query = fact_order_query_job.format(date=date)
    
    # create connection to postgresql
    conn = psycopg2.connect(database = "dwh_db", user = "postgres", password = "postgres", host = "127.0.0.1", port = "5432")
    
    # create cursor
    cursor = conn.cursor()
    
    # execute job   
    cursor.execute(sql_query)
    
    conn.commit()
    
    cursor.close()
    conn.close()
    
    print("Job executed for date {}".format(date))

##### we have five dates in orderinfo so we shoud run our job for:
* *2020-02-13*
* *2020-02-14* 
* *2020-02-16*
* *2020-02-17*
* *2020-02-18*

In [10]:
execute_query3('2020-02-13')
execute_query3('2020-02-14')
execute_query3('2020-02-16')
execute_query3('2020-02-17')
execute_query3('2020-02-18')

Job executed for date 2020-02-13
Job executed for date 2020-02-14
Job executed for date 2020-02-16
Job executed for date 2020-02-17
Job executed for date 2020-02-18